.footer {
  width: 100%;
  position: relative;
  padding: 1.5rem 0;
  text-align: center;
  background: transparent;
  img {
    height: 1rem;
    line-height: 1rem;
    margin-right: 0.8rem;
    margin-bottom: 0.2rem;
  }

  a {
    color: #1a252f;
  }
}
