@import '../../styles/pages';

.index {
  @extend .base-page;
  background: url("http://i1.fuimg.com/620130/a4acef4cdf61f0d5.jpg") repeat-y fixed left top / cover;

  .index-base {
    width: 100%;
    height: 100%;
    padding: 0 160px;
    padding-bottom: 6rem;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
  }

  .article-item {
    width: 100%;
    height: 230px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 1px 20px -6px rgba(0, 0, 0, .5);
    transition: box-shadow .3s ease;
    margin-top: 2rem;
    display: flex;
    overflow: hidden;
    cursor: pointer;

    .article-content {
      width: 360px;
      height: 100%;
      padding: 1rem 1rem;
      background: rgba(255, 255, 255, 0.8);

      .article-date {
        color: #888888;
        font-size: 16/14rem;
      }

      .article-title {
        color: #504e4e;
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 0.8rem;
        word-break: break-all;

        &:hover {
          color: #fe9600;
        }
      }

      .article-some {
        color: #504e4e;
        font-size: 12/16rem;
        margin-top: 1rem;
        word-break: break-all;
      }
    }

    .article-img {
      width: 440px;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }

  .page-btn {
    cursor: pointer;
    padding: 3px 7px;
    border: 1px solid #61687C;
    display: inline-block;
    border-radius: 4px;
    position: absolute;
    transition: all 0.5s;

    &:hover {
      color: #fe9600;
      border: 1px solid #fe9600;
    }
  }

  .article-next {
    @extend .page-btn;
    right: 160px;
    bottom: 2rem;
  }

  .article-prev {
    @extend .page-btn;
    left: 160px;
    bottom: 2rem;
  }

  .article-num {
    color: #61687C;
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
  }
}
