.cat {
  position: fixed;
  left: 25px;
  top: -900px;
  width: 70px;
  height: 900px;
  background: url(../../assets/images/cat.png) no-repeat center;
  transition: top 1s;
  z-index: 50;
}

.showCat {
  top: -300px;
}
